DATABASE_URL=postgresql://neondb_owner:npg_19dhoNIDErYv@ep-bold-frog-a1kxdc0r-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your_jwt_secret_here
VIRUSTOTAL_API_KEY=
MXTOOLBOX_API_KEY=
ML_SERVICE_URL=http://localhost:5001
PORT=5000
